*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --icon-cl: white;
    --bg-cl: black;
    --footer-cl: #222222;
    --endfooter-cl: #4a4a4a;
    --bgpinco-cl: #62707d;
    --sharescreen-cl: #4bc800;
    --endmeeting-cl: #f30c0f;
}
body{
    background-color: black;
    font-family: 'Lato', sans-serif;
    
}
header{
    height: 100px;
}
.site_header{
    color: white;
    fill: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 13.5px;
}
.block{
    background-color: #4a4a4a;
    font-size: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
}
.maximize{
    background-color: #4a4a4a;
    font-size: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
}


main{
    height: calc(100vh - 250px);
    overflow: auto;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 7);
    padding: 10px 10px;
}
.card{
    color: white;
    fill: white;
}
.user{
    font-size: 1.25rem;
    background-color: rgba(101, 113, 125, 0.5);
    padding: 5px;
    position: relative;
    bottom: 32px;
}
.card img{
    width: 100%;
}

footer{
    width: 100%;
    height: 150px;
    background-color: #222222;
}
.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.output{
    width: 300px;
    color: white;
    fill: white;
    display: flex;
    font-size: 30px;
}
.tools{
    display: flex;
    max-width: 60%;
    color: white;
    fill: white;
    font-size: 30px;
}
.esc{
    height: 150px;
    width: 300px;
    padding-top: 63px;
    font-size: 1.25rem;
    text-align: center;
    color: #f30c0f;
    background-color: #4a4a4a;
}
.uparrow{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    display: flex;
}
.screen{
    fill: #4bc800;
}
.img{
    text-align: center;
}
.hardware{
    padding-left: 1.25rem;
}
.arrow{
    padding-left: 1.50rem;
    font-size: 1.25rem;
}
.usability{
    padding-left: 0;
}
p{
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}
.footer_card{
    padding: 1rem;
}
